In [1]:
import pandas as pd
import pandas_profiling

In [2]:
df = pd.read_csv("../src/estaticos_market.csv")

In [3]:
df.head(1)

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,...,43.738462,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0

In [16]:
a = df.isna().sum().to_frame("faltantes").join(
df.isnull().sum().to_frame('%')*100/len(df)).round(2)

In [17]:
a = a.sort_values(by=['faltantes'])
print(a.to_string())

                                               faltantes       %
Unnamed: 0                                             0    0.00
fl_rm                                                  0    0.00
fl_telefone                                            0    0.00
fl_email                                               0    0.00
fl_st_especial                                         0    0.00
fl_ltda                                                0    0.00
fl_mei                                                 0    0.00
fl_epp                                                 0    0.00
fl_sa                                                  0    0.00
fl_me                                                  0    0.00
qt_filiais                                             0    0.00
idade_empresa_anos                                     0    0.00
de_ramo                                                0    0.00
natureza_juridica_macro                                0    0.00
sg_uf                                                  0    0.00
de_natureza_juridica                                   0    0.00
fl_matriz                                              0    0.00
id                                                     0    0.00
idade_emp_cat                                          0    0.00
dt_situacao                                            6    0.00
fl_simples_irregular                                1927    0.42
vl_total_veiculos_leves_grupo                       1927    0.42
vl_total_veiculos_pesados_grupo                     1927    0.42
fl_veiculo                                          1927    0.42
fl_passivel_iss                                     1927    0.42
fl_spa                                              1927    0.42
nm_segmento                                         1927    0.42
nm_divisao                                          1927    0.42
setor                                               1927    0.42
fl_antt                                             1927    0.42
sg_uf_matriz                                        1939    0.42
de_nivel_atividade                                 11168    2.42
de_saude_tributaria                                14851    3.21
de_saude_rescencia                                 14851    3.21
de_faixa_faturamento_estimado                      27513    5.95
de_faixa_faturamento_estimado_grupo                27513    5.95
vl_faturamento_estimado_aux                        27513    5.95
vl_faturamento_estimado_grupo_aux                  27513    5.95
nu_meses_rescencia                                 45276    9.79
nm_micro_regiao                                    58698   12.70
nm_meso_regiao                                     58698   12.70
fl_optante_simei                                   82713   17.89
fl_optante_simples                                 82713   17.89
qt_socios_pf                                      115091   24.90
qt_socios                                         115091   24.90
qt_socios_pj                                      115091   24.90
empsetorcensitariofaixarendapopulacao             143829   31.11
idade_maxima_socios                               151602   32.79
idade_minima_socios                               151602   32.79
idade_media_socios                                151602   32.79
qt_socios_st_regular                              154917   33.51
qt_socios_masculino                               267183   57.79
qt_socios_feminino                                317269   68.63
qt_funcionarios_grupo                             347035   75.07
qt_ex_funcionarios                                347044   75.07
qt_funcionarios_12meses                           358724   77.60
tx_rotatividade                                   358724   77.60
qt_funcionarios_24meses                           358724   77.60
qt_funcionarios                                   358724   77.60
qt_admitidos                                      358724   77.60
qt_desligados                                     358724   77.60
qt_desligados_12meses                             358724   77.60
qt_admitidos_12meses                              358724   77.60
meses_ultima_contratacaco                         358724   77.60
max_meses_servicos_all                            358738   77.60
min_meses_servicos_all                            358738   77.60
media_meses_servicos_all                          358738   77.60
media_meses_servicos                              386037   83.50
max_meses_servicos                                386037   83.50
min_meses_servicos                                386037   83.50
percent_func_genero_fem                           386356   83.57
percent_func_genero_masc                          386356   83.57
total                                             386356   83.57
tx_crescimento_24meses                            388284   83.99
tx_crescimento_12meses                            388410   84.02
grau_instrucao_macro_escolaridade_media           394501   85.33
qt_ramos_coligados                                396907   85.86
qt_coligados_centro                               396907   85.86
qt_coligados_sudeste                              396907   85.86
qt_coligados_exterior                             396907   85.86
qt_ufs_coligados                                  396907   85.86
qt_regioes_coligados                              396907   85.86
qt_coligados_industria                            396907   85.86
qt_coligados_ccivil                               396907   85.86
qt_coligados_comercio                             396907   85.86
qt_coligados_serviço                              396907   85.86
qt_coligados_atividade_alto                       396907   85.86
qt_coligados_atividade_medio                      396907   85.86
qt_coligados_atividade_baixo                      396907   85.86
qt_coligados_atividade_mt_baixo                   396907   85.86
qt_coligados_atividade_inativo                    396907   85.86
qt_coligados_sul                                  396907   85.86
qt_coligados_agropecuaria                         396907   85.86
qt_coligados_norte                                396907   85.86
qt_coligados_nordeste                             396907   85.86
qt_coligados_ltda                                 396907   85.86
qt_coligados                                      396907   85.86
qt_socios_coligados                               396907   85.86
qt_coligados_epp                                  396907   85.86
qt_coligados_matriz                               396907   85.86
qt_coligados_ativo                                396907   85.86
qt_coligados_baixada                              396907   85.86
qt_coligados_inapta                               396907   85.86
qt_coligados_suspensa                             396907   85.86
qt_coligados_nula                                 396907   85.86
idade_media_coligadas                             396907   85.86
qt_coligados_me                                   396907   85.86
idade_minima_coligadas                            396907   85.86
idade_maxima_coligadas                            396907   85.86
qt_coligados_mei                                  396907   85.86
qt_coligados_sa                                   396907   85.86
idade_media_coligadas_ativas                      397151   85.91
coligada_mais_antiga_ativa                        397151   85.91
coligada_mais_nova_ativa                          397151   85.91
min_faturamento_est_coligados_gp                  397775   86.04
max_faturamento_est_coligados_gp                  397775   86.04
media_faturamento_est_coligados_gp                397775   86.04
faturamento_est_coligados_gp                      397775   86.04
min_faturamento_est_coligados                     397775   86.04
max_faturamento_est_coligados                     397775   86.04
media_faturamento_est_coligados                   397775   86.04
faturamento_est_coligados                         397775   86.04
qt_coligadas                                      412067   89.13
sum_faturamento_estimado_coligadas                412754   89.28
de_indicador_telefone                             418405   90.51
qt_funcionarios_coligados                         419995   90.85
qt_funcionarios_coligados_gp                      419995   90.85
media_funcionarios_coligados_gp                   419995   90.85
max_funcionarios_coligados_gp                     419995   90.85
min_funcionarios_coligados_gp                     419995   90.85
idade_de_29_a_33                                  422155   91.32
idade_de_24_a_28                                  423403   91.59
idade_de_34_a_38                                  425569   92.06
min_vl_folha_coligados_gp                         425761   92.10
max_vl_folha_coligados_gp                         425761   92.10
vl_folha_coligados_gp                             425761   92.10
media_vl_folha_coligados_gp                       425761   92.10
min_vl_folha_coligados                            425984   92.14
media_vl_folha_coligados                          425984   92.14
max_vl_folha_coligados                            425984   92.14
vl_folha_coligados                                425984   92.14
vl_total_veiculos_leves                           431614   93.36
vl_total_veiculos_pesados                         431614   93.36
idade_de_39_a_43                                  431890   93.42
idade_de_19_a_23                                  436408   94.40
grau_instrucao_macro_escolaridade_fundamental     437402   94.61
idade_de_44_a_48                                  438008   94.75
vl_frota                                          438108   94.77
grau_instrucao_macro_escolaridade_superior        439571   95.08
total_filiais_coligados                           441898   95.59
media_filiais_coligados                           441898   95.59
max_filiais_coligados                             441898   95.59
min_filiais_coligados                             441898   95.59
idade_de_49_a_53                                  443261   95.88
idade_de_54_a_58                                  448323   96.98
idade_acima_de_58                                 451272   97.61
qt_socios_pep                                     455555   98.54
qt_art                                            455708   98.57
qt_socios_pj_ativos                               457754   99.02
qt_socios_pj_nulos                                457754   99.02
vl_idade_media_socios_pj                          457754   99.02
qt_socios_pj_baixados                             457754   99.02
vl_idade_maxima_socios_pj                         457754   99.02
qt_socios_pj_inaptos                              457754   99.02
vl_idade_minima_socios_pj                         457754   99.02
qt_socios_pj_suspensos                            457754   99.02
vl_potenc_cons_oleo_gas                           458615   99.20
qt_socios_st_suspensa                             459047   99.30
idade_ate_18                                      459392   99.37
grau_instrucao_macro_analfabeto                   460414   99.59
vl_total_tancagem_grupo                           460538   99.62
vl_total_veiculos_antt_grupo                      461962   99.93
vl_total_tancagem                                 462018   99.94
vl_total_veiculos_antt                            462122   99.96
idade_media_coligadas_baixadas                    462162   99.97
coligada_mais_antiga_baixada                      462162   99.97
coligada_mais_nova_baixada                        462162   99.97
qt_alteracao_socio_total                          462298  100.00
qt_alteracao_socio_365d                           462298  100.00
qt_alteracao_socio_90d                            462298  100.00
grau_instrucao_macro_desconhecido                 462298  100.00
qt_alteracao_socio_180d                           462298  100.00

In [25]:
a[a['%']<12.7]

                                     faltantes     %
Unnamed: 0                                   0  0.00
fl_rm                                        0  0.00
fl_telefone                                  0  0.00
fl_email                                     0  0.00
fl_st_especial                               0  0.00
fl_ltda                                      0  0.00
fl_mei                                       0  0.00
fl_epp                                       0  0.00
fl_sa                                        0  0.00
fl_me                                        0  0.00
qt_filiais                                   0  0.00
idade_empresa_anos                           0  0.00
de_ramo                                      0  0.00
natureza_juridica_macro                      0  0.00
sg_uf                                        0  0.00
de_natureza_juridica                         0  0.00
fl_matriz                                    0  0.00
id                                           0  0.00
idade_emp_cat                                0  0.00
dt_situacao                                  6  0.00
fl_simples_irregular                      1927  0.42
vl_total_veiculos_leves_grupo             1927  0.42
vl_total_veiculos_pesados_grupo           1927  0.42
fl_veiculo                                1927  0.42
fl_passivel_iss                           1927  0.42
fl_spa                                    1927  0.42
nm_segmento                               1927  0.42
nm_divisao                                1927  0.42
setor                                     1927  0.42
fl_antt                                   1927  0.42
sg_uf_matriz                              1939  0.42
de_nivel_atividade                       11168  2.42
de_saude_tributaria                      14851  3.21
de_saude_rescencia                       14851  3.21
de_faixa_faturamento_estimado            27513  5.95
de_faixa_faturamento_estimado_grupo      27513  5.95
vl_faturamento_estimado_aux              27513  5.95
vl_faturamento_estimado_grupo_aux        27513  5.95
nu_meses_rescencia                       45276  9.79

In [30]:
dfb = a[a['%']<12.7].index.values.astype(str)

numpy.str_

In [35]:
dfAlterado = df[dfb]

In [39]:
dfAlterado.head()

,Unnamed: 0,fl_rm,fl_telefone,fl_email,fl_st_especial,fl_ltda,fl_mei,fl_epp,fl_sa,fl_me,...,fl_antt,sg_uf_matriz,de_nivel_atividade,de_saude_tributaria,de_saude_rescencia,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo,vl_faturamento_estimado_aux,vl_faturamento_estimado_grupo_aux,nu_meses_rescencia
0,0,SIM,True,True,False,False,False,False,False,False,...,False,RN,ALTA,VERDE,ACIMA DE 1 ANO,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 1.500.000,01 A R$ 4.800.000,00",3132172.8,3132172.8,23.0
1,1,SIM,True,True,False,False,True,False,False,False,...,False,PI,BAIXA,CINZA,ATE 1 ANO,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00",210000.0,210000.0,9.0
2,2,SIM,True,False,False,False,True,False,False,False,...,False,AM,MEDIA,AMARELO,ACIMA DE 1 ANO,"ATE R$ 81.000,00","ATE R$ 81.000,00",50000.0,50000.0,26.0
3,3,SIM,True,True,False,False,False,False,False,False,...,False,AM,MEDIA,AMARELO,ACIMA DE 1 ANO,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00",210000.0,210000.0,26.0
4,4,SIM,True,True,False,False,False,False,False,False,...,False,RN,ALTA,VERDE,ACIMA DE 1 ANO,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00",210000.0,210000.0,27.0